<p>basic works!</p>
<br/>
<app-seuil></app-seuil>
<hr/>
<app-list-prod></app-list-prod>
<hr/>
<!--
<tabset>
    <tab heading="calculatrice)">
       <app-calculatrice></app-calculatrice>
   </tab>
   <tab heading="calcul tva">
       <app-tva></app-tva>
    </tab>
</tabset>
-->
<!--
<bsu-toggle-panel title="calculatrice">
    <app-calculatrice></app-calculatrice>
</bsu-toggle-panel>
<br/>
<bsu-toggle-panel title="tva">
    <app-tva></app-tva>
</bsu-toggle-panel>
-->
<a routerLink="/ngr-basic/calculatrice/simple" >calculatrice simple</a><br>
<a routerLink="/ngr-basic/calculatrice/sophistiquee" >calculatrice sophistiquee</a><br>  
<a routerLink="/ngr-basic/tva" >tva</a><br>
<!-- ce sous niveau de router-outlet affichera soit 
     le sous-composant tva soit le sous-composant calculatrice -->
<router-outlet></router-outlet>




<hr/>

        
<app-reglette width="200" (changeEvent)="onChangeCurseur($event)"></app-reglette>
        
curseur = {{valeurCurseur}}
 

<hr/>
     
<tabset>
        <tab heading="xy">
            <app-xy></app-xy>
       </tab>
       <tab heading="zz">
        <app-zz></app-zz>
        </tab>
</tabset>




